<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
<html lang="en">

<head>
    <title>Bunty Blog</title>
</head>

<body>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="my-2" align="Center">
            <h2>Hello {{user.first_name | title}}, Add Your Post: </h2>
        </div>

        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-success mb-4" type="submit" value="Add Post">
            <a class="btn btn-primary mb-4" href="/">Home</a>
        </form>
    </div>
    {% else %}
    <div class="jumbotron">
        <H1>First login to view to this page.</H1>
    </div>
    {% endif %}

</body>
<script>
    let name = '{{user.id}}'
    document.getElementById('id_author').value = name
</script>
{% endblock %}


</html>