<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">Shaily.com</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mr-auto">
                <a class="nav-link" href="/">Home</a>
                {% if user.is_authenticated %}
                <a class="nav-link" href="/addpost">Add Post</a>
                <a class="nav-link" href="/mypost/">{{user.first_name}} Posts</a>
                {% endif %}
            </div>

            <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}

                <a class="nav-link" href="/userprofile">Profile</a>
                <a class="nav-link" href="/accounts/logout">LogOut</a>
                {% else %}
                <a class="nav-link" href="/accounts/login">LogIn</a>
                <a class="nav-link" href="/signup">SignUp</a>
                {% endif %}
            </div>
        </div>
    </nav>




    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    {% block body_block %}
    {% endblock %}
</body>

</html>