<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
<html lang="en">

<head>
    <title>{{user.first_name}} post</title>
</head>

<body>
    <div class="jumbotron">
        <ul>
            {% for post in posts %}
            {% if user.id == post.author.id %}
            <li class="d-flex">
                <div><a href="/post/{{post.id}}">
                        <h3 class="display-5">{{post.title |capfirst }} </h3>
                    </a></div>
                <div class="ml-4"> <a class=" btn btn-danger btn-sm" href="{% url 'delete_post' post.id %}">Delete</a>
                </div>
            </li>
            <hr class="my-4">
            {% endif %}
            {% endfor %}
        </ul>
    </div>

</body>
{% endblock %}


</html>