<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
<html lang="en">

<head>
    <title>Bunty Blog</title>
</head>

<body>
    {% if user.is_authenticated %}

<div class="container"  >
    <h2>Hello {{user.first_name | title}}, Update Your Profile: </h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary mb-4" type="submit" value="Update Profile">
    </form>
</div>
{% else %}
<div class="jumbotron">
    <H1>First login to view to this page.</H1>
</div>
{% endif %}

</body>
{% endblock %}


</html>